altgraph==0.17.2
attrs==20.3.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.1.1
ConfigArgParse==1.2.3
configobj==5.0.6
distro==1.5.0
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
iotop==0.6
jsonpatch==1.25
jsonpointer==2.0
more-itertools==4.2.0
parsedatetime==2.6
psutil==5.9.2
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.8
PyJWT==1.7.1
pyRFC3339==1.1
python-augeas==0.5.0
python-debian==0.1.39
pytz==2021.1
requests==2.28.1
requests-toolbelt==0.9.1
six==1.16.0
urllib3==1.26.5
zipp==1.0.0
zope.event==4.4
